body{
	margin: 0;
	background-color: lightgrey;
}
.fan{
	width:50%;
	height: 800px;
	position: relative;
	float: left;
	background-color: hotpink;
}
.rum{
	width: 900px;
	height: 450px;
	border-radius: 25px;
	position: relative;
	top: 80px;
	left: 220px;
	background-color: white;
}
h3{
   position: relative;
   left: 120px;
   top: 38px;
   font-size: 20px;
   font-family: cursive;
}

li{display: inline;
	margin-top: 0px;
	list-style: none;
	position: relative;
	left: 350px;
	padding-right: 20px;
}
a{
	text-decoration:none;
	color: black;
	font-family: sans-serif;
}
img{
	border-radius: 50%;
	position: relative;
	bottom: 100px;
	left: 100px;
	-webkit-transform:rotate(30deg);
	display: inline;
}
h1{
	font-size: 35px;
	position: relative;
	top: 120px;
	font-family: sans-serif;
}
.fit{
	position: relative;
	top: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 10px;
}
a:hover{
	color: hotpink;
	cursor: pointer;
}
.tit{
	width: 200px;
	height: 50px;
	border:0px;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	letter-spacing: 2px;
	font-size: 25px;
	text-shadow: 1px 1px 1px white;
	font-family: sans-serif;
	position: relative;
	bottom: 150px;
	background-color: hotpink;
}
#size{
	position: relative;
	bottom: 150px;
	left: 530px;
	width: 250px;
	background-color: hotpink;

}


label{
	display: block;
	font-family: sans-serif;

	position: relative;
	bottom: 150px;
	left: 550px;
}

.fid input{
	background-color: hotpink;
	appearance:none;
}